{% if token.access_token %}
<p>Access Token: {{ token.access_token }}</p>
<p>Refresh Token: {{ token.refresh_token }}</p>

<a href="/organization">GET /organization/</a>
<a href="/logout">Logout</a>
{% else %}
<a href="/login">Login</a>
{% endif %}
